{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    <a href="/members/create">New</a>
    <table width='100%'>
        <thead>
            <tr>
                <th>Membro</th>
                <th>Email</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {%for member in members %}
                <tr>
                    <td>
                        <span style="background-image: url({{member.avatar_url}})"></span>
                        {{member.name}}</td>
                    <td >{{member.email}}</td>
                    <td >{{member.weight}}kg</td>
                    <td >{{member.height}}cm</td>  
                    <td><a href="/members/{{member.id}}">ver</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<script>
    const CLIENT_ID = 'Lr8xi0QHVpcF6BC5RPCgMYz4fZQkTRvcKp01Fj_U9G4'; // Substitua 'YOUR_ACCESS_KEY' pelo seu Client-ID
    const COLLECTION_ID = '8325170';
    const ITEMS_PER_PAGE = 30
    fetch(`https://api.unsplash.com/collections/${COLLECTION_ID}/photos?client_id=${CLIENT_ID}&${ITEMS_PER_PAGE}`)
    .then(response => response.json())
    .then(data => {
        // Seleciona uma imagem aleatoriamente da coleção
        const randomImage = data[Math.floor(Math.random() * data.length)];
        const imageUrl = randomImage.urls.regular;
        document.getElementById('avatar').style.backgroundImage = `url(${imageUrl})`;
    })
    .catch(error => console.error('Error fetching image:', error));
</script>
{% endblock content %}