{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <a class="button" href="/instructors/create">New</a>
        <form action="/instructors" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Filtrar por Nome"
            >
            <button type="submit">Filtrar</button>
        </form>

    </div>

    <table width='100%'>
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Atendimento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {%for instructor in instructors %}
                <tr>
                    <td>
                        <span style="background-image: url({{instructor.avatar_url}})"></span>
                        {{instructor.name}}</td>
                    <td >
                        {{instructor.services}}
                    </td>
                    <td >
                        {{instructor.total_students}}
                    </td>
                   
                    <td><a href="/instructors/{{instructor.id}}">ver</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<script>
    const CLIENT_ID = 'Lr8xi0QHVpcF6BC5RPCgMYz4fZQkTRvcKp01Fj_U9G4'; // Substitua 'YOUR_ACCESS_KEY' pelo seu Client-ID
    const COLLECTION_ID = '8325170';
    const ITEMS_PER_PAGE = 30
    fetch(`https://api.unsplash.com/collections/${COLLECTION_ID}/photos?client_id=${CLIENT_ID}&${ITEMS_PER_PAGE}`)
    .then(response => response.json())
    .then(data => {
        // Seleciona uma imagem aleatoriamente da coleção
        const randomImage = data[Math.floor(Math.random() * data.length)];
        const imageUrl = randomImage.urls.regular;
        document.getElementById('avatar').style.backgroundImage = `url(${imageUrl})`;
    })
    .catch(error => console.error('Error fetching image:', error));
</script>
{% endblock content %}